body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #CACACA;
}

.banner-colum{
    background-color: #8D8D8D;
}

.about-container{
    background-color: #00BDBD;
}
